[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Sharwien
	email = 90255586+Sharwien@users.noreply.github.com
[core]
	editor = \"C:\\Users\\Ik\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
